## Construct dataframe from a dictionary

In [106]:
d = {"column1" : [2, 5, 7, 3, 6],"column2" : [4, 5, 7, 3, 6]}

In [107]:
import pandas as pd
import numpy as np
df = pd.DataFrame(d)

In [108]:
df.dtypes

column1    int64
column2    int64
dtype: object

In [109]:
df2 = pd.DataFrame(data = d, dtype=np.int32) # Convert data type

In [110]:
df2.dtypes

column1    int32
column2    int32
dtype: object

## Apply method

In [111]:
df=df.apply(lambda x:x+1)# apply method applies the function for all the elements of the dataframe.
df

   column1  column2
0        3        5
1        6        6
2        8        8
3        4        4
4        7        7

In [112]:
df.groupby(['column1']).mean()

         column2
column1
3              5
4              4
6              6
7              7
8              8

In [81]:
df

   column1  column2
0        3        5
1        6        6
2        8        8
3        4        4
4        7        7

In [84]:
df.eq(5)

   column1  column2
0    False     True
1    False    False
2    False    False
3    False    False
4    False    False

## DataFrame from arrays

In [96]:
arr1 = np.array([2,5,3,6,7])
arr2 = np.array([4,5,6,3,4])
arr = np.array(list(zip(arr1,arr2))).reshape(len(arr1),2)

In [97]:
df_arr = pd.DataFrame(arr,columns=["arr1","arr2"])

In [100]:
df_arr

   arr1  arr2
0     2     4
1     5     5
2     3     6
3     6     3
4     7     4